.booking-seat {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 3.8rem;
  height: 3.4rem;

  border: 0.1rem solid rgba(190, 145, 64, 0.72);
  border-radius: 0.8rem 0.8rem 0.35rem 0.35rem;
  color: rgb(232, 216, 181);
  font-size: 1.1rem;
  font-weight: 700;
}

.booking-seat-available:hover,
.booking-seat-selected:hover {
  cursor: pointer;
  background-color: rgb(53, 156, 200);
}

.booking-seat-available {
  background-color: rgba(251, 229, 182, 0.06);
}

.booking-seat-selected {
  border-color: rgb(22, 102, 105);
  background-color: rgb(22, 102, 105);
}

.booking-seat-taken {
  border-color: rgba(109, 93, 76, 0.5);
  background-color: rgb(46, 43, 38);
  color: rgba(251, 229, 182, 0.28);
  cursor: not-allowed;
}
