.booking-legend {
  display: flex;
  justify-content: center;
  gap: 2.4rem;

  margin-top: 3.2rem;
  padding-top: 2.2rem;

  border-top: 0.1rem solid rgba(190, 145, 64, 0.25);
}

@media (max-width: 660px) {
  .booking-legend {
    min-width: 52rem;
  }
}
