.movie-card {
  border: none;
  padding: 0;
  background: none;
  font: inherit;
  color: inherit;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  width: 30rem;
  align-items: center;
  padding: 1rem;
  border: 3px solid var(--gold-border-color);
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease-in-out;
  color: rgb(251, 229, 182);
}

.movie-duration {
  font-size: 1.4rem;
  margin-top: auto;
}

.movie-genre {
  font-size: 1.2rem;
  margin-top: 0.5rem;
}

.movie-poster {
  width: 100%;
  height: auto;
  border-radius: 4px;
  margin-bottom: 1rem;
}
