.header {
  position: relative;
  overflow: hidden;

  height: 15rem;

  background-color: rgb(51, 22, 17);
  box-shadow: 0 0.6rem 1.6rem var(--gold-border-color);
}

.header-nav {
  display: flex;
  justify-content: center;

  width: 100%;
  height: 100%;

  padding: 2rem 0;
}

.logo-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  height: 100%;

  color: inherit;
  text-decoration: none;
}

.logo {
  position: relative;

  width: 15rem;
  height: 3rem;

  background-image: url("/cinema-logo.webp");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.logo-text {
  position: relative;

  width: max-content;

  font-family: var(--font-display);
  font-size: 3rem;

  color: rgb(251, 229, 182);
}

.logo-bottom {
  transform: rotate(180deg);
}

.decorator-rectangle {
  --decorator-mask: none;

  position: absolute;
  top: 14.9rem;
  left: 50%;

  width: 20rem;
  height: 5rem;
}

.decorator-rectangle::before,
.decorator-rectangle::after {
  content: "";

  position: absolute;
  inset: 0;

  mask-image: var(--decorator-mask);
  mask-repeat: no-repeat;
  mask-size: 100% 100%;
}

.decorator-rectangle::before {
  transform: translateY(0.5rem);

  background-color: var(--gold-border-color);
  filter: blur(0.7rem);
}

.decorator-rectangle::after {
  background-color: rgb(51, 22, 17);
}

.left-decorator-rectangle {
  --decorator-mask: radial-gradient(
    ellipse 40rem 10rem at left bottom,
    transparent 0 49.45%,
    rgba(0, 0, 0, 0.35) 49.8%,
    rgba(0, 0, 0, 0.75) 50.15%,
    black 50.45%
  );

  transform: translateX(calc(-100% + 0.05rem));
}

.right-decorator-rectangle {
  --decorator-mask: radial-gradient(
    ellipse 40rem 10rem at right bottom,
    transparent 0 49.45%,
    rgba(0, 0, 0, 0.35) 49.8%,
    rgba(0, 0, 0, 0.75) 50.15%,
    black 50.45%
  );

  transform: translateX(-0.05rem);
}
